<p id="notice"><%= notice %></p>

  	<h1><%= @song.title %></h1>
	<h4>by: <strong><%= link_to @song.artist.name, artist_path(@song.artist) %></strong></h4>

<p>
  <strong>Rating:</strong>
  <% @song.rating.times do %>
  	<span class="glyphicon glyphicon-star"></span>
  <% end %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %>
